html,
font-face {
    font-family: 'MyWebFont';
    src: url('webfont.eot'); /* IE9 Compat Modes */
    src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('webfont.woff') format('woff'), /* Modern Browsers */
         url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
    height: 100%;
    font-family: 'MyWebFont', 'Outfit', sans-serif;
    background: #D5E1EF;
}

.qr-code-container {
width: 320px;
height: 497px;
margin: 0 auto;
margin-top: 10%;
background: #FFFFFF;
border-radius: 18px;
padding-left: 16px 16px 16px 39px;
display: flex;
flex-direction: column;
align-items: center;
}

.main-text {
color: #1F3251;
font-weight: 700;
font-size: 24px;
line-height: 30px;
letter-spacing: -0.03em;
padding: 21px 33px 7px 33px;
text-align: center;
}

.secondary-text {
color: #7B879D;
font-weight: 400;
font-size: 16px;
line-height: 20px;
padding: 7px 26px 39px 26px ;
text-align: center;
}

.qr-code-image {
width:288px; 
height:288px;
border-radius: 12px;
margin-top: 16px;
}

.attribution {
    position: fixed;     
    text-align: center;    
    bottom: 10px; 
    width: 100%;
}




